@import "./variables.scss";
.btn{
    padding: 8px 20px;
    background-color: $third-color;
    border: none;
    border-radius: 3px;
    color: #000;
    min-width: 50px;
    min-height: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: $fourth-color;
    }
}

.btn-sort {
    margin-top: 10px;
    width: 120px;
}
