.btn .btn-add-to-cart {
    padding: 10px;
    margin-top: 130px;
    background-color: #858585;
    border: 1px solid #858585;
    border-radius: 2px;
    color: #fff;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-decoration: none;
}