@import "../../sass/variables";

.log-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
.link-register {
  color:#5a6268;
  margin-left: 15px;
  &:hover {
    text-decoration: none;
  }
}