.product {
  background-color: #f2f2f2;
  width: 400px;
  height: 500px;
  padding: 30px;
  margin: 0 20px 30px 20px;
  position: relative;

  .productImg {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
  }

  .productName {
    position: absolute;
    bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
  }

  .productPrice {
    position: absolute;
    bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
  }
  
  .productInf {
    position: absolute;
    top: 20px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
  } 
}