@import "../../sass/variables";

.homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .wrapperHomeLeft {
    display: flex;
    flex-direction: column;
    background-color:$second-color;
    margin-left: 40px;
    padding-left: 40px;
    width: 200px;
    // align-items: flex-end;
    h1 {
      font-size: 24px;
      font-weight: 400;

    }

    .sort-by {
      font-weight: 600;
      margin: 20px 0 10px 0;
    }
  }
  .wrapperHomeRight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // max-width: 66.66%;
  }
}

ul {
  list-style-type: none;
  margin-top: 10px;
  li {
    margin-top: 5px;
  }
}
