@import "../../sass/variables";

.homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .wrapperHomeLeft {
    display: flex;
    flex-direction: column;
    background-color:$second-color;
    margin-left: 40px;
    padding-left: 35px;
    width: 230px;

    h1 {
      font-size: 24px;
      font-weight: 400;
    }

    .sort-by {
      font-weight: 600;
      margin: 20px 0 10px 0;
    }
  }

  .wrapperHomeRight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

ul {
  list-style-type: none;
  margin-top: 10px;

  li {
    margin-top: 5px;
  }
}
