.topNav {
	display: flex;
	justify-content: flex-end;
	padding: 20px;
	padding-right: 30px;
	a {
		text-decoration: none;
		margin-left: 20px;
		color: white;
		text-transform: uppercase;
		letter-spacing: 6px;
		font-size: 14px;
		color: #000000;
		&:hover {
			color: #34495e;
		}
	}
}

.top {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 100px;
	h1 {
		font-size: 26px;
		font-weight: 400;
		text-transform: uppercase;
		flex:1;
		padding-top: 16px;
		letter-spacing: 6px;
	}

}